# Cargo build
**/target
**target**

# Cargo config
.cargo

# Profile-guided optimization
/tmp
pgo-data.profdata

# MacOS nuisances
.DS_Store

# Proofs
**/proof-with-pis.json
**/proof-with-io.json

# Env
.env

**/l2data/**
demo/config/cdk-op.toml
demo/config/cdk-pos.toml
demo/config/cdk-fep.toml
**.keystore